<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Tomcat"
            visible="true"
            id="com_sysdeo_eclipse_tomcat_actionSet">
         <menu
               label="%menu.label"
               id="com.sysdeo.eclipse.tomcat.menu">
            <separator
                  name="group">
            </separator>
         </menu>
         <action
               label="%menu.restart.label"
               icon="icons/restart.gif"
               tooltip="%menu.restart.label"
               class="net.sf.eclipse.tomcat.actions.RestartActionDelegate"
               menubarPath="com.sysdeo.eclipse.tomcat.menu/group"
               toolbarPath="Normal/additions"
               id="com.sysdeo.eclipse.tomcat.restart">
         </action>
         <action
               label="%menu.stop.label"
               icon="icons/stop.gif"
               tooltip="%menu.stop.label"
               class="net.sf.eclipse.tomcat.actions.StopActionDelegate"
               menubarPath="com.sysdeo.eclipse.tomcat.menu/group"
               toolbarPath="Normal/additions"
               id="com.sysdeo.eclipse.tomcat.stop">
         </action>
         <action
               label="%menu.start.label"
               icon="icons/start.gif"
               tooltip="%menu.start.label"
               class="net.sf.eclipse.tomcat.actions.StartActionDelegate"
               menubarPath="com.sysdeo.eclipse.tomcat.menu/group"
               toolbarPath="Normal/additions"
               id="com.sysdeo.eclipse.tomcat.start">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Tomcat"
            class="net.sf.eclipse.tomcat.TomcatPreferencePage"
            id="com.sysdeo.eclipse.tomcat.Page1">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%pref.menu.jvmSettings.label"
            category="com.sysdeo.eclipse.tomcat.Page1"
            class="net.sf.eclipse.tomcat.TomcatJVMPreferencePage"
            id="com.sysdeo.eclipse.tomcat.Page2">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%pref.menu.sourcepath.label"
            category="com.sysdeo.eclipse.tomcat.Page1"
            class="net.sf.eclipse.tomcat.TomcatSourcePathPreferencePage"
            id="com.sysdeo.eclipse.tomcat.Page3">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%pref.menu.managerapp.label"
            category="com.sysdeo.eclipse.tomcat.Page1"
            class="net.sf.eclipse.tomcat.TomcatManagerAppPreferencePage"
            id="com.sysdeo.eclipse.tomcat.Page4">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%pref.menu.advanced.label"
            category="com.sysdeo.eclipse.tomcat.Page1"
            class="net.sf.eclipse.tomcat.AdvancedPreferencePage"
            id="com.sysdeo.eclipse.tomcat.Page5">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            name="%wizard.newTomcatProject.label"
            icon="icons/newwar_wiz.gif"
            category="org.eclipse.jdt.ui.java"
            class="net.sf.eclipse.tomcat.TomcatProjectCreationWizard"
            project="true"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            id="com.sysdeo.eclipse.tomcat.TomcatProjectCreationWizard">
         <description>
            %wizard.newJavaProject.description
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            name="Tomcat"
            class="net.sf.eclipse.tomcat.TomcatProjectPropertyPage"
            id="com.sysdeo.eclipse.tomcat.TomcatProjectPropertyPage">
         <filter
               name="nature"
               value="org.eclipse.jdt.core.javanature">
         </filter>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            id="com.sysdeo.eclipse.tomcat.action.popup.javaProject">
         <filter
               name="projectNature"
               value="net.sf.eclipse.tomcat.tomcatnature">
         </filter>
         <menu
               label="%menu.nature.label"
               path="additions"
               id="com.sysdeo.eclipse.tomcat.action.popup.javaProject.menu">
            <separator
                  name="group">
            </separator>
         </menu>
         <action
               label="%menu.nature.createWork.label"
               class="net.sf.eclipse.tomcat.actions.CreateJSPWorkDirectoryActionDelegate"
               menubarPath="com.sysdeo.eclipse.tomcat.action.popup.javaProject.menu/group"
               id="com.sysdeo.eclipse.tomcat.actions.createJspWorkDirectory">
         </action>
         <action
               label="%menu.nature.addTomcatJar.label"
               class="net.sf.eclipse.tomcat.actions.AddTomcatJarActionDelegate"
               menubarPath="com.sysdeo.eclipse.tomcat.action.popup.javaProject.menu/group"
               id="com.sysdeo.eclipse.tomcat.addTomcatJarToProject">
         </action>
         <action
               label="%menu.nature.updateContext.label"
               class="net.sf.eclipse.tomcat.actions.UpdateTomcatContextActionDelegate"
               menubarPath="com.sysdeo.eclipse.tomcat.action.popup.javaProject.menu/group"
               id="com.sysdeo.eclipse.tomcat.updateContextToServerXml">
         </action>
         <action
               label="%menu.nature.removeContext.label"
               class="net.sf.eclipse.tomcat.actions.RemoveTomcatContextActionDelegate"
               menubarPath="com.sysdeo.eclipse.tomcat.action.popup.javaProject.menu/group"
               id="com.sysdeo.eclipse.tomcat.removeContextToServerXml">
         </action>
         <action
               label="%menu.nature.exportToWar.label"
               class="net.sf.eclipse.tomcat.actions.ExportToWarActionDelegate"
               menubarPath="com.sysdeo.eclipse.tomcat.action.popup.javaProject.menu/group"
               id="com.sysdeo.eclipse.tomcat.exportToWar">
         </action>
         <action
               label="%menu.nature.restartContext.label"
               class="net.sf.eclipse.tomcat.actions.RestartContextActionDelegate"
               menubarPath="com.sysdeo.eclipse.tomcat.action.popup.javaProject.menu/group"
               id="com.sysdeo.eclipse.tomcat.actions.restartContext">
         </action>
      </objectContribution>
   </extension>
<!-- =========================================================================== -->
<!-- Tomcat Nature                                                                 -->
<!-- =========================================================================== -->
   <extension
         id="tomcatnature"
         name="Tomcat Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="net.sf.eclipse.tomcat.TomcatProject">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="net.sf.eclipse.tomcat.PreferenceInitializer"/>
   </extension>

<!-- shortcut keys -->
<extension point="org.eclipse.ui.commands">
      <category
            name="Tomcat keys"
            id="pl.szpinda.plugin.tomcat.commands.category.key">
      </category>
      <command
            name="Tomcat quick restart"
            categoryId="pl.szpinda.plugin.tomcat.commands.category.key"
            id="pl.szpinda.plugin.tomcat.commands.tomcatQuickRestart">
      </command>
      
      <command
            name="Tomcat start,stop"
            categoryId="pl.szpinda.plugin.tomcat.commands.category.key"
            id="pl.szpinda.plugin.tomcat.commands.tomcatStartStop">
      </command>
   </extension>

   <extension point="org.eclipse.ui.handlers">
      <handler
            commandId="pl.szpinda.plugin.tomcat.commands.tomcatQuickRestart"
            class="net.sf.eclipse.tomcat.actions.TomcatKeyHandler">
      </handler>
      <handler
            commandId="pl.szpinda.plugin.tomcat.commands.tomcatStartStop"
            class="net.sf.eclipse.tomcat.actions.TomcatKeyHandler">
      </handler>
   </extension>
   <extension point="org.eclipse.ui.bindings">
		<!-- M1 - CTRL, M2 - Shift, M3 - Alt-->
      <key
            commandId="pl.szpinda.plugin.tomcat.commands.tomcatQuickRestart"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M3+T"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="pl.szpinda.plugin.tomcat.commands.tomcatStartStop"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+M3+T"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>

</plugin>
